body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
  font-family: "Prompt", sans-serif;
}

.pageContainer {
  box-sizing: border-box;
  padding: 50px;
  background-color: #f3f3f3;
  width: 100vw;
  height: 100vh;
  overflow: clip;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  background-color: bisque;
  border-radius: 10px;
  width: 100px;
  height: 50px;
  font-size: 40px;
  font-weight: bolder;
  cursor: pointer;
}

th {
  color: white;
}
