.home {
  height: 100%;
}

.homePageContainer {
  margin-top: 80px;
  display: flex;
  gap: 20px;
}

.homePageSubContainerRight {
  width: 50%;
  background-image: url("../../resources/images/me-no-background-reduced.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.homePageSubContainerLeft {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.intro {
  font-size: 2.5rem;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
  line-height: 0.8;
}

.fontColor {
  color: #4caf50;
}

.descriptionText {
  position: relative;
  font-size: 1.3rem;
  color: #606060;
  font-family: "Inter", serif;
  font-weight: 300;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #606060;
}

.cvandemail {
  display: flex;
  gap: 20px;
}

.tableForAddInfo {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 2em;
}

.tableElement {
  display: flex;
}

.tableLeft {
  font-family: "Inter", sans-serif;
  width: 150px;
  font-size: 1.1rem;
  font-weight: bold;
  text-decoration: underline;
}

.tableRight {
  display: flex;
  font-family: "Inter", sans-serif;
  align-items: start;
  font-size: 1.01rem;
  padding-left: 0.7em;
  color: #606060;
}

.line {
  margin: 2em 0;
}

.contact {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
}

.email {
  margin: 0;
}

.cvAndEmail {
  font-family: "Inter", serif;
  font-weight: 300;
  font-size: 1.3rem;
  color: #606060;
}

@media screen and (max-width: 768px) {
  .homePageContainer {
    display: flex;
    gap: 20px;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
  }
  .homePageSubContainerLeft {
    background-image: none;
    width: 100%;
  }

  .homePageSubContainerRight {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .descriptionText {
    position: static;
    text-align: center;
    right: 0%;
    font-size: 1.5rem;
    color: white;
    font-family: monospace, sans-serif;
  }

  .cvButton {
    position: static;
    display: inline-block;
  }

  .intro {
    width: 100%;
  }
}
