.homePageContainer{
    display: flex;
    gap: 20px;
    height: 100%;
}

.homePageSubContainerLeft {
    width: 50%;
    display: flex;
    flex-direction: row;
   
}

.homePageSubContainerRight{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.intro {
    position: relative;
    top: 15%;
    left: 10%;
    font-family: 'Trocchi', serif;
    text-align: center;
    flex-basis: 231px;
    color: white;
}

.photo {
    position: relative;
    top: 10%;
    left: 10%;
}

@media screen and (max-width: 768px) {
    .photo {
        display: none;
    }
    .intro{
        width: 100%;
    }
    .homePageContainer {
        display: grid;
        grid-template-columns: 1fr;
        
    }
}
    