.navbarContainer {
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    height: 80px;
    background: #0F4045;
    align-items: center;
    opacity: 0.9;
}

.navbarContainerLeft {
    margin: 30px;
    width: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.navbarContainerRight {
    margin-left: 20%;
    width:30%;
    display:flex;
    justify-content: space-around;
}