.navbarContainer {
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  align-items: center;
  opacity: 0.9;
}

.navbarContainerLeft {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;
}

.navbarContainerRight {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

.link {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
  padding-left: 10px;
}

.link:hover {
  background: #25757c;
  border-radius: 5px;
}
