.navbarContainer {
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  align-items: center;
  opacity: 0.9;
}

.navbarContainerLeft {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;
}

.navbarContainerRight {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

.link {
  height: 100%;
  font-size: 0.9rem;
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
  padding-left: 10px;
  transition: font-size 0.3s ease; /* Animate the border-bottom property */
}

.link:hover {
  font-size: 1.1rem;
}
